#container {
  position: relative;
  width: 90%;
  max-width: 1240px;
  min-height: 500px;
  min-width: 300px;
  margin: 10px auto;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
}

.block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
}

#fullness {
  margin: 10px 160px;
}

@media (max-width: 627px) {
  #container {
    min-height: 600px;
  }
}

@media (max-width: 513px) {
  #container {
    min-height: 770px;
  }
}
